// Pretty styles.

// These are awful and do not use them, certainly not with these
// selectors.  They are as such in order to not pollute the base
// project's markup. They exist in order to give the user a bet-
// ter idea of what slick things the base project can help make. 
// Delete this file and omit it from `main.sass`!

#app > div:not(.preloader)
  height: calc(100% - 130px)

html, body
  position: relative
  height: 100%
  width: 100%

header
  display: flex
  width: 100%
  max-width: 1200px
  align-items: center
  justify-content: space-between
  margin: 0 auto
  padding: 15px

nav > ul
  list-style-type: none
  padding: 0
  margin: 0

nav > ul > li
  display: inline-block
  margin-right: 1em
  &:last-of-type
    margin-right: 0

a
  color: #555
  &:visited
    color: #555

a.trans-link-active
  color: white

div
  position: relative
  text-align: center

h1
  text-align: center
  margin: 0
  padding: 0
  font-weight: 500
  top: 50%

button
  color: white
  font-size: 12px
  background: none
  border: none
  padding: 8px 14px
  border: 1px solid #555
  border-radius: 4px
  transition: border-color 0.2s linear
  &:hover
    border: 1px solid white

.page-index, .page-about
  position: relative
  top: 50%
  transform: translateY(-50%)

.modal-dummy
  position: relative
  height: 100%

.modal-dummy > div
  position: relative
  top: 50%
  transform: translateY(-50%)

.modal-dummy > div > div
  padding-bottom: 2em

.trans-modal-enter-active
  opacity: 1
  transition: opacity 0.35s linear

.trans-modal-enter
  opacity: 0

.trans-modal-leave-active
  opacity: 0
  transition: opacity 0.35s linear 0.3s

