*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  line-height: 1.5em;
}

ul, ol {
  padding-left: 2em;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p,
li {
  line-height: 1.45em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

blockquote {
  margin: 0;
}

button {
  // Because Chrome started putting a border-radius on its buttons and
  // the Normalize.css maintainers insist it isn't an issue.
  border-radius: 0;
}
